.container {
    padding: 0.01em 16px;
    background-color: palegreen;
}
.flexin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    padding: 0.01em 16px;
    background-color: whitesmoke;
}
.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.wrapper3 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 100px 100px;
}


#one {
    background-color: aquamarine;
    grid-column-start: 1;
    grid-column-end: 3;
}

#two {
    background-color: teal;
}

#three {
    background-color: cornflowerblue;
    grid-row: 2/4;
}

#four {
    background-color: indigo;
    grid-column: 2/4;
}

#five {
    background-color: maroon;
}

#six {
    background-color: darkcyan;
}

#seven {
    grid-row: 1/4;
    background-color: black;
}

#eight {
    grid-column: 2/4;
    background-color: blueviolet;
}

#nine {
    background-color: darksalmon;
}

#ten {
    background-color: brown;
}
 #eleven {
     background-color: darkblue;
 }

 #twelve {
     background-color: black;
 }

 #triteen {
     grid-area: 1/span 3;
     background-color: darkgreen;
 }

 #fourteen {
     grid-row-end: span 2 ;
     background-color: darkgoldenrod;
 }

 #fivteen {
     background-color: darkred;
 }

 #sixteen {
     grid-row: 1/3;
     background-color: darksalmon;
 }

 #seventeen {
     grid-row: 1/3;
     background-color: darkslateblue;
 }

 #eightteen {
     background-color: darkorange;
 }

 #nineteen{
     grid-column-end: span 4;
     background-color: darkviolet;
 }

 #twenty {
     grid-column-end: span 5;
     background-color: darkslategray;
 }

 #twentyone {
     grid-column: 1/6;
     background-color: darkgrey;
 }

.box {
    margin: 5px;
    color: whitesmoke;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.wrapper3 {
    padding: 10px;
}

div.wrapper {
   padding: 10px;
}
div.wrapper2 {
    padding: 10px;
}

